* {
    font-size: 20px;
    color: #7f8c8d;
    background-color: #d1d0d0;
}

h1 {
    text-align: center;
    font-size: 200%;
}

.container {
    flex: content;

}

.bodyContainer {
    flex: content;

}

.btn {
    border-color: black;
    border: 3px solid;
    text-align: center;
    margin: auto 500px;
    border-radius: 20px;
    background-color: coral;
    color: darkblue;

}

.btn:hover {
    cursor: pointer;

}

.h1 {

    font-size: 150%;
}

.changer {
    text-align: center;
}